input {
  border-radius: 5px;
}


/* Register */

.personalInfoForm {
  width: 900px
}

.personalInfo {
  font-size: 1.4em;
  border-bottom: 1px solid black;
  padding: 10px;
  position: relative;
}

.nameDetails {
  display: flex;
  justify-content: space-between;
}

.inputClass {
  display: flex;
  flex-direction: column;
}

.inputClass>input {
  padding: 10px;
  width: 30em;
}

.emailInput {
  padding: 10px;
  width: 66em;
}

.passwordDetails {
  display: flex;
  justify-content: space-between;
}

.loginInfo {
  font-size: 1.4em;
  border-bottom: 1px solid black;
  padding: 10px;
  position: relative;
}

.personalInfoForm>button {
  padding: 15px;
  margin-top: 2em;
  background-color: #f14d54;
  border: none;
  border-radius: 3px;
  color: aliceblue;
}

.personalInfoForm>button:hover {
  background-color: white;
  color: #f14d54;
  border: 1px solid #f14d54;
  cursor: pointer;
}

/* Login */

.login {
  display: flex;
  justify-content: space-between;
}

.login>div>p {
  font-size: 1.4em;
  border-bottom: 1px solid black;
  padding: 10px;
}

.loginButton {
  padding: 15px;
  margin-top: 2em;
  background-color: #f14d54;
  border: none;
  border-radius: 3px;
  color: aliceblue;
}

.loginButton:hover {
  background-color: white;
  color: #f14d54;
  border: 1px solid #f14d54;
  cursor: pointer;
}

.loginForm {
  width: 900px;
}

.loginInput {
  display: flex;
  flex-direction: column;
}

.loginInput>input {
  padding: 10px;
  width: 30em;
}

@media only screen and (max-width: 950px) {

  /* login */
  .loginContainer {
    padding: 15px;
  }

  .login {
    display: flex;
    flex-direction: column;

  }

  .loginButton {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .loginForm {
    width: 100%;
  }

  .loginInput>input {
    padding: 10px;
    width: 90%;
  }

  /* Register */
  .personalInfoForm {
    width: 100%;
    padding: 2px
  }

  .passwordDetails {
    display: flex;
    flex-direction: column;
  }

  .nameDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .emailInput {
    padding: 10px;
    width: 90%;
  }

  .inputClass>input {
    padding: 10px;
    width: 90%;
  }

  .registerContainer {
    padding: 15px;
  }
}

/* Home */
.search {
  display: flex;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
}

.search>h2 {
  color: "#424242";
}

.search>input {
  height: 30px;
  align-self: center;
  border-radius: 0%;
  padding: 10px;
}


/* App.js */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow:
    0 10px 27px rgba(0, 0, 0, 0.20);
}

.nav {
  padding: 5px;
  padding-left: 10px;

}

/* AddBook.js */
.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
}

.addFormInput {
  width: 25em;
  padding: 15px;
}

.addFormInputImage {
  width: 25em;
  padding: 15px;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

.addFormInputImage::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #FF101B;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.addFormInputImage::file-selector-button:hover {
  background: #a52026;
}

.addBookHeading {
  border-bottom: 1px solid #FF101B;
  padding: 2px;
}